/* Estilos específicos para cadastro de cliente */
form {
    background-color: #eef9f0;
}

h2 {
    color: #4CAF50;
    text-align: left;
    margin-top: 0;
}

label {
    color: #333;
}

input[type="text"], input[type="checkbox"] {
    border-color: #4CAF50;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
